## Loading Base CO2 Data to Postgress Database

In [1]:
# Import libraries
import pandas as pd
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
# from config import db_password
import csv
import os

In [2]:
# Load CO2 data
co2_data_file = 'Resources/owid-co2-data.csv'
co2_data_df = pd.read_csv(co2_data_file)
co2_data_df

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,0.000,0.000,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24011,ZWE,Zimbabwe,2014,11.962,2.838,0.330,12.760,0.798,6.671,0.880,...,4.865,11.24,0.827,6.27,0.461,NaN,NaN,NaN,13587000.0,2.474828e+10
24012,ZWE,Zimbabwe,2015,12.163,1.685,0.202,13.010,0.847,6.966,0.880,...,4.885,11.87,0.859,6.68,0.484,NaN,NaN,NaN,13815000.0,2.503057e+10
24013,ZWE,Zimbabwe,2016,10.807,-11.146,-1.356,11.809,1.001,9.264,0.770,...,4.703,11.92,0.850,6.55,0.467,NaN,NaN,NaN,14030000.0,2.515176e+10
24014,ZWE,Zimbabwe,2017,12.026,11.274,1.218,12.531,0.505,4.198,0.845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN
24015,ZWE,Zimbabwe,2018,12.263,1.969,0.237,NaN,NaN,NaN,0.849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN

In [3]:
# Creating connection to the database
connection_string = f'postgres://hrcykodaiuwpab:92ba424e0b5a8c22538d55bc45ae0b239a9e1c23b25ec20d539d9e67afefa8be@ec2-3-211-167-220.compute-1.amazonaws.com:5432/d89a2icfqufifv'

engine = create_engine(connection_string)

In [4]:
# Create co2_data table in Postgres DB from csv file
co2_data_df.to_sql(name="co2_data", con=engine, if_exists='replace', index=False)