## Preparation of Data for Javascript Dashboard

In [1]:
# Import Libraries
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Creating connection to the database
connection_string = f'postgres://hrcykodaiuwpab:92ba424e0b5a8c22538d55bc45ae0b239a9e1c23b25ec20d539d9e67afefa8be@ec2-3-211-167-220.compute-1.amazonaws.com:5432/d89a2icfqufifv'

conn = create_engine(connection_string)

In [12]:
# Create dataframe from Postgres table
dashboard_data_df = pd.read_sql("select * from dashboard_data", conn);
dashboard_data_df

,Country,CO2,Average_Temperature,Population,GDP,GDP_per_Capita,CO2_per_Capita,CO2_per_Unit_GDP,Government_Rating,Government_Type,Paris_Agreement
0,Afghanistan,9.02,56.96,34414000.0,6.278339e+10,1824.0,2.62,494.42,-1.0,Republic,Yes
1,Albania,4.61,54.83,2891000.0,3.322414e+10,11492.0,15.96,40.14,9.0,Republic,Yes
2,Algeria,150.70,74.58,39728000.0,5.130000e+11,12913.0,37.93,1167.09,2.0,Republic,Yes
3,Angola,33.98,72.07,27884000.0,1.480000e+11,5308.0,12.19,640.18,-2.0,Republic,Yes
4,Argentina,199.86,58.93,43075000.0,8.400000e+11,19501.0,46.40,1024.87,9.0,Republic,Yes
...,...,...,...,...,...,...,...,...,...,...,...
141,Venezuela,170.90,79.59,30082000.0,4.830000e+11,16056.0,56.81,1064.39,4.0,Republic,Yes
142,Vietnam,180.31,77.25,92677000.0,5.410000e+11,5837.0,19.46,3088.77,-7.0,Republic,No
143,Yemen,12.70,76.17,26498000.0,6.952109e+10,2624.0,4.79,484.02,0.0,Provisional,No
144,Zambia,4.30,72.84,15879000.0,5.591289e+10,3521.0,2.71,122.00,7.0,Republic,Yes
145,Zimbabwe,12.16,72.19,13815000.0,2.503057e+10,1812.0,8.80,671.31,4.0,Republic,Yes

In [13]:
# Get Data Types
dashboard_data_df.dtypes

Country                 object
CO2                    float64
Average_Temperature    float64
Population             float64
GDP                    float64
GDP_per_Capita         float64
CO2_per_Capita         float64
CO2_per_Unit_GDP       float64
Government_Rating      float64
Government_Type         object
Paris_Agreement         object
dtype: object

In [14]:
# Write out csv Data for Dashboard
dashboard_data_df.to_csv("data/dashboard_data.csv", index=False)